
//u-center-text//
.u-center-text {
          text-align: center !important;
}

//u-center-text u-margin-bottom-small//
.u-margin-bottom-small {
          margin-bottom: 1.5rem !important
}

//u-center-text u-margin-bottom-medium//
.u-margin-bottom-medium {
          margin-bottom: 4rem !important
}

//u-center-text u-margin-bottom-big//
.u-margin-bottom-big {
          margin-bottom: 8rem !important
}

.u-margin-top-big {
          margin-top: 8rem !important
}
.u-margin-top-huge {
          margin-top: 10rem !important
}